body{
    background-color: rgb(238, 229, 238);
}
#sol{
    background-color: rgb(214, 214, 4);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position:absolute;
    left: 60px;
    top: 80px;
}
#quadrado{
    background-color: rgb(238, 229, 238);
    width: 320px;
    height: 320px;
    border: 8px
}
#primeira{
    background-color: rgb(5, 27, 150);
    height: 90px;
    width: 1050px;
    position: absolute;
    left: 280px;
    top: 50px;
}
#segunda{
    background-color: rgb(5, 27, 150);
    height: 90px;
    width: 1050px;
    position: absolute;
    left: 280px;
    top: 200px;
}
#terceira{
    background-color: rgb(5, 27, 150);
    height: 90px;
    width: 100%;
    position: absolute;
    top: 350px;
}
#quarta{
    background-color: rgb(5, 27, 150);
    height: 90px;
    width: 100%;
    position: absolute;
    top: 500px;
}

h1{
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 40px;
}
   

